/*body{
    background-color: #646464;
    text-align: center;
    canvas
    {
        background: url("Island.png") no-repeat;
        background-size: cover;
        border: 2px solid black;
        position: relative;
    }
}*/

h1{
    text-align: center;
    font-size: 50px;
}

h2{
    text-align: center;
    font-size: 45px;
}

h3{
    text-align: center;
    font-size: 25px;
}

h5{
    padding-left: 250px; 
    padding-right: 250px;
    font-size: 22px;
    font-weight: lighter;
}

h6{
    padding-left: 150px; 
    padding-right: 150px;
    font-size: 20px;
    font-weight: lighter;
}

.woods-bg{
    margin: 0;
    padding: 0;
    background-image: url("./images/woods-bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1500px;
    height: 100vh;
    /*position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;*/
}

.warPlane{
    width: 500px;
    height: 350px;
    position: absolute;
    top: 450px;
    right: 420px;
}

.butt1{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 700px;
    right: 220px;
}
